// Variables de colores
$primary-color: #a15353;
$secondary-color: #ff6347;
$background-color: #f8f9fa;
$footer-background-color: #333;
$form-background-color: #fff;
$text-color-light: #fff;
$text-color-dark: #333;

// Estilos generales
body {
  font-family: 'Arial', sans-serif;
  background-color: #fcf4f4;
  color: #333;
  line-height: 1.6;
}

h1, h2 {
  font-weight: bold;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.3s ease;
}

a:hover {
  color: $secondary-color;
}

ul {
  list-style: none;
}

// Estilos para la galería
.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  // En desktop, se mostrarán 3 imágenes en fila
  gap: 20px;
  margin-top: 20px;
}

.galeria-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria-col img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.galeria-col img:hover {
  transform: scale(1.05);
}

// Estilos para el contenido responsivo
@media (max-width: 768px) {
  .galeria-container {
    grid-template-columns: 1fr;  // En dispositivos móviles, las imágenes se mostrarán en una sola columna
  }
}

footer a {
    position: relative;
    color: #fff; /* Color por defecto */
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Distancia debajo del enlace */
    width: 100%;
    height: 2px;
    background-color: #ff6347; /* Color de la línea de subrayado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

footer a:hover {
    color: #ff6347; /* Cambiar el color del enlace al pasar el ratón */
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Estilo de los enlaces en el menú de navegación */
.navbar-nav .nav-item .nav-link {
    color: #333; /* Color por defecto */
    transition: color 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff6347; /* Color al pasar el mouse */
}
