/* Reset de CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fcf4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilos globales */
h1, h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Estilo para el encabezado */
header {
    background-color: #f1e6e6;
    color: rgb(161, 83, 83);
    padding: 20px 0;
}

/* Estilos para el menú de navegación */
.navbar {
    background-color: #f8f9fa;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6347;
}

/* Sección de contenido */
section {
    padding: 30px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Formulario de contacto */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

/* Estilos de Grid */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 15px;
}

/* Asegurando la responsividad */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .col {
        flex-basis: 100%;
    }
}
