// Variables de colores
$primary-color: #a15353;
$secondary-color: #ff6347;
$background-color: #f8f9fa;
$footer-background-color: #333;
$form-background-color: #fff;
$text-color-light: #fff;
$text-color-dark: #333;
